# Python
__pycache__/
*.py[cod]
*.so
*.pyd

# Virtual environment
venv/
env/
reuben/

# Django
db.sqlite3
*.sqlite3
*.log
media/
staticfiles/

# Environment variables
.env

# Node / Angular
node_modules/
dist/
